* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  border: 1px solid #FF5400;
}
header, main{
  margin: 0 8.44rem;
}

.your-destination {
  margin-top: 6.25rem;
}

.your-destination-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-heading {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.choose-para {
  width: 44.5%;
  text-align: center;
}

.your-destination {
  border: 1px solid rebeccapurple;
}


.first-des {
  display: flex;
  gap: 1.5rem;
}

.first-des img {
  width: calc((100% - 1.5rem)/2);
  margin-bottom: 1.5rem;
}
.second-des{
  display: flex;
  gap: 1.5rem;
}
.second-des img{
 width: calc((100% - 1.5rem)/3);
 margin-bottom: 1.5rem;
}
.third-des{
  display: flex;
  gap: 1.5rem;
}
.third-des img{
  width: calc((100% - 1.5rem)/2);
  margin-bottom: 1.5rem;
}








@media screen and (max-width: 576px) {
  header, main {
    margin: 0;
  }
  .first-des{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .first-des img{
    width: calc(100% - 10%);
    margin-bottom: 1rem;
  }
  .second-des{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .second-des img{
    width: calc(100% - 10%);
    margin-bottom: 1rem;
  }
  .third-des{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .third-des img{
    width: calc(100% - 10%);
    margin-bottom: 1rem;
  }
}