* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 8.44rem;
  font-family: 'Mulish', sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar ul {
  display: flex;
  list-style: none;

}

.menu-bar ul li {
  padding-left: 10px;
}

.banner {
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('/Images/Group 13 (1) (1).png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-width: 73.125rem;
  height: 31.25rem;
  flex-shrink: 0;
  margin-top: 3.06rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.banner-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-heading {
  color: #FFF;
  font-family: Mulish;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-bottom: 1.5rem;
}

.banner-para {
  width: 42.25rem;
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  /* 162.5% */
}

.destination {
  display: inline-flex;
  padding: 1rem;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.30);
}

.destination>div {
  width: 10.875rem;
  height: 3.25rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;

}

input {
  color: rgba(19, 19, 24, 0.50);
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  overflow: hidden;
}

#preference {
  color: rgba(19, 19, 24, 0.50);
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}

#when {
  color: rgba(19, 19, 24, 0.50);
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}

#banner-btn {
  width: 10.875rem;
  height: 3.25rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #FF5400;
}

#banner-btn>button {
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  background: #FF5400;
}

.fa-solid {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  color: #FFF;
  padding-top: 0.4rem;
}


/* Main Sections Design Star From Here */

/* Popular tour Image */

.popular-tours {
  display: flex;
  margin-top: 6.25rem;
  gap: 3.31rem;

}

.popular-tours>div {
  flex: 1;
}

.tours-text-heading {
  color: #131318;
  text-align: left;
  font-family: Mulish;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.tours-text-para {
  margin: 1.5rem 0rem;
  width: 36.0625rem;
  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  /* 162.5% */
}

.tours-text-para-list ul {
  list-style-position: inside;
  padding-left: 3px;
  width: 32.8125rem;
  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  /* 162.5% */
}

.popular-tours-image {
  width: 33.75rem;
  height: 34.375rem;
  flex-shrink: 0;
  background: url('/Images/Rectangle 4.png'), lightgray 50% / cover no-repeat;
  background-position: center;
  border-radius: 0.5rem;
}

.popular-tours-button {
  width: 10.875rem;
  height: 3.25rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #FF5400;
  display: flex;
  justify-content: center;
  align-items: center;

}

.popular-tours-button>button {
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  background: #FF5400;
}

@media screen and (max-width: 576px) {
  body{
    margin: 0;
  }
  .banner {
    flex-direction: column;
  }

  .banner-heading{
    font-size: 1.375rem;
    font-weight: 800;
  }

  .banner-para{
    font-size: 0.875rem;
    margin: 0 1rem;
    width: 90%;
    line-height: 1.5rem;
  }
  .destination {
    flex-direction: column;
  }

  
}